.footer {
  background-color: rgb(40, 40, 50);
  color: white;
  text-align: center;
  padding: 30px 0 0 0;
  font-size: 20px;
  height: 250px;
}

.upper-footer {
  height: 80px;
}
.upper-footer p {
  margin-bottom: 10px;
}

.upper-footer a {
  margin-bottom: 20px;
  text-decoration: none;
  color: #ff8b1a;
}

.upper-footer a:hover {
  text-decoration: underline;
}

.base-footer {
  height: 170px;
  background: linear-gradient(90deg, #e809a4, #ff8b1a, #be05ab, #6075ff);
  animation: gradientLinear 8s ease infinite;
  background-size: 300% 300%;
}

@keyframes gradientLinear {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media screen and (max-width: 768px) {
  .base-footer {
    height: 100px;
  }

  .footer {
    height: 150px;
  }
}
